<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.leonardo.controle_amarelinha">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".BluetoothSearchActivity"
            android:label="Pesquisa de Dispositivos" />
        <activity
            android:name=".Main2Activity"
            android:label="Quantidade de Usários e Modo de Jogo" />
        <activity
            android:name=".InteractionActivity"
            android:label="Tipo de Interação" />
        <activity
            android:name=".ButtonActionActivity"
            android:label="Clique no botão" />
        <activity
            android:name=".ShakeActivity"
            android:label="Agitar o Celular" />
        <activity
            android:name=".RockReleaseActivity"
            android:configChanges="orientation"
            android:label="Lançar pedra"
            android:screenOrientation="portrait" />

        <service
            android:name=".BluetoothConnectionService"
            android:exported="false"
            android:label="BluetoothConnectionService" />

        <activity android:name=".Minesweeper" />
        <activity android:name=".HypnoActivity" />
        <activity android:name=".GameChoose"></activity>
    </application>

</manifest>